doctype html
block vars
html(lang="ja")
	head
		include ../_include/_head
	body
		include ../_include/_header
		main.l-main
			block contents
		include ../_include/_checked
		include ../_include/_footer
		include ../_include/_fixed-footer
		script(src=assetsPath+"js/main.js")

