include ../_mixin/_breadcrumb
block vars
  include ../_config.pug
doctype html
html(lang='ja')
  include ../_include/_head
  body(id=pageId)
    include ../_include/_header 
    main.main
      +breadcrumb([
        ["Home", "/"],
        ["About", "/about/"]
      ])
      block content
    include ../_include/_footer
    block script
      include ../_include/_script
