- var assetsPath = '/assets/'
- var imgPath = assetsPath+'img/'
-
	var pages = {
		top:{
			url:'/',
			name:'トップページ',
			title:'トップページ',
			description:'トップページのディスクリプション'
		},
		special:{
			url:'/special/',
			name:'ブランド名が選ばれる理由',
			title:'ブランド名が選ばれる理由',
			description:'ブランド名が選ばれる理由のディスクリプション',
			breadcrumb:[
				{
					text:"ブランド名が選ばれる理由",
				}
			]
		},
		privacy:{
			url:'/privacy/',
			name:'個人情報保護方針',
			title:'個人情報保護方針',
			description:'個人情報保護方針のディスクリプション',
			breadcrumb:[
				{
					text:"個人情報保護方針"
				}
			]
		},
		contact:{
			url:'/contact/',
			name:'お問い合わせ',
			title:'お問い合わせ',
			description:'お問い合わせのディスクリプション',
			breadcrumb:[
				{
					text:"お問い合わせ"
				}
			]
		}
	}
