footer.Footer
  .Footer_top
    .Footer_top_inner
      nav.Footer_nav
        ul.Footer_nav_list
          li.Footer_nav_list--item
            a.item_link(href='https://example.com/', target='_blank') 外部リンクダミー
          li.Footer_nav_list--item
            a.item_link(href='') ダミー
          li.Footer_nav_list--item
            a.item_link(href='#') ページ内リンクダミー
        ul.Footer_nav_list
          li.Footer_nav_list--item
            a.item_link(href='https://example.com/', target='_blank') 外部リンクダミー
          li.Footer_nav_list--item
            a.item_link(href='') ダミー
          li.Footer_nav_list--item
            a.item_link(href='#') ページ内リンクダミー
        ul.Footer_nav_list
          li.Footer_nav_list--item
            a.item_link(href='https://example.com/', target='_blank') 外部リンクダミー
            ul.item_childlist
              li.item_childlist--child
                a.child_link(href='https://example.com/') 外部リンクダミー1
              li.item_childlist--child
                a.child_link(href='https://example.com/#address') 外部リンク・ハッシュダミー2
              li.item_childlist--child
                a.child_link(href='https://example.com/') 外部リンクダミー3
  .Footer_bottom
    .Footer_bottom_inner
      p.Footer--copyright
        small &copy; Copyright All Rights Reserved.
  a#js-totop.btn-totop
