aside.l-company
	.l-conmany_inner.l-inner
		h2.l-company_heading 法人のお客様へ
		p.l-company_lead お電話にて請求書払い・リース契約、その他様々なご要望に柔軟に対応いたします。
		p.l-company_annotation ※リースは10台契約から月額3,000円～で対応いたします。
		a.l-company_button(href="#")
			span.l-company_buttonText 0120-86-2517
footer.l-footer
	.l-footerMain
		.l-footerMain_inner
			nav.l-footerMainNav
				ul.l-footerMainNav_list
					li.l-footerMainNav_item.-payment
						a.l-footerMainNav_link(href="")
							span.l-footerMainNav_icon
								img(src=imgPath+"common/icon_footer_payment.svg")
							| お支払い方法
					li.l-footerMainNav_item.-shipping
						a.l-footerMainNav_link(href="")
							span.l-footerMainNav_icon
								img(src=imgPath+"common/icon_footer_shipping.svg")
							| 送料・配送
					li.l-footerMainNav_item.-warranty
						a.l-footerMainNav_link(href="")
							span.l-footerMainNav_icon
								img(src=imgPath+"common/icon_footer_warranty.svg")
							| 保証・返品
					li.l-footerMainNav_item.-contact
						a.l-footerMainNav_link(href="")
							span.l-footerMainNav_icon
								img(src=imgPath+"common/icon_footer_contact.svg")
							| お問い合わせ
			.l-footerMainProduct
				.l-footerMainProduct_inner
					dl.l-footerMainProduct_block.js-accordion
						dt.l-footerMainProduct_title.js-accordion-trigger ノートパソコン
						dd.l-footerMainProduct_content.js-accordion-target
							ul.l-footerMainProduct_list
								li.l-footerMainProduct_item
									a.l-footerMainProduct_link(href="#") A4サイズノート
								li.l-footerMainProduct_item
									a.l-footerMainProduct_link(href="#") B5サイズノート
					dl.l-footerMainProduct_block.js-accordion
						dt.l-footerMainProduct_title.js-accordion-trigger デスクトップパソコン
						dd.l-footerMainProduct_content.js-accordion-target
							ul.l-footerMainProduct_list
								li.l-footerMainProduct_item
									a.l-footerMainProduct_link(href="#") 省スペースデスク
								li.l-footerMainProduct_item
									a.l-footerMainProduct_link(href="#") ミドル・フルタワーデスク
								li.l-footerMainProduct_item
									a.l-footerMainProduct_link(href="#") 液晶一体型デスク
								li.l-footerMainProduct_item
									a.l-footerMainProduct_link(href="#") 液晶モニターセット
					dl.l-footerMainProduct_block.js-accordion
						dt.l-footerMainProduct_title.js-accordion-trigger ディスプレイ
						dd.l-footerMainProduct_content.js-accordion-target
							ul.l-footerMainProduct_list
								li.l-footerMainProduct_item
									a.l-footerMainProduct_link(href="#") 17インチ
								li.l-footerMainProduct_item
									a.l-footerMainProduct_link(href="#") 19インチ
								li.l-footerMainProduct_item
									a.l-footerMainProduct_link(href="#") 20インチ
								li.l-footerMainProduct_item
									a.l-footerMainProduct_link(href="#") 21インチ〜
								li.l-footerMainProduct_item
									a.l-footerMainProduct_link(href="#") 24インチ〜
					dl.l-footerMainProduct_block.js-accordion
						dt.l-footerMainProduct_title.js-accordion-trigger タブレット
						dd.l-footerMainProduct_content.js-accordion-target
							ul.l-footerMainProduct_list
								li.l-footerMainProduct_item
									a.l-footerMainProduct_link(href="#") 7インチ〜
								li.l-footerMainProduct_item
									a.l-footerMainProduct_link(href="#") 9インチ〜
								li.l-footerMainProduct_item
									a.l-footerMainProduct_link(href="#") 11インチ〜
	.l-footerPolicy
		.l-footerPolicy_inner
			ul.l-footerPolicy_list
				li.l-footerPolicy_item
					a.l-footerPolicy_link(href="#") 個人情報保護方針
				li.l-footerPolicy_item
					a.l-footerPolicy_link(href="#") 特定商取引法に基づく表記
				li.l-footerPolicy_item
					a.l-footerPolicy_link(href="#") 免責事項
	.l-footerCopyright
		.l-footerCopyright_inner
			p.l-footerCopyright_text
				small All Rights Reserved by 
