:root {
  --outer-height: 100vh;
}
.Mv {
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: #3cc;
  @include mq('sm') {
    margin-top: $header-height-sp;
    height: calc(100vh - #{$header-height-sp});
    height: calc(var(--outer-height) - #{$header-height-sp});
  }
  &_inner {
  }
  &--catch {
    padding: 30vh 0;
    text-align: center;
    &_main {
      font-size: 50px;
      @include lineHeight_crop(1.75);
    }
    &_sub {
      font-size: 30px;
      @include lineHeight_crop(1.75);
    }
  }
}

.About {
  &_wrap {
    padding: 60px 0 0;
  }
  &_inner {
    @include inner(1100);
  }
  &_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mq('sm') {
      flex-direction: column;
    }
  }
  &_content {
    max-width: 55%;
  }
  &--ttl {
  }
  &_desc {
    margin-top: 20px;
    &--txt {
    }
  }
  &--img {
    width: 40%;
    max-width: 600px;
  }
}

.Address {
  &_wrap {
    padding: 60px 0 0;
  }
  &_inner {
    @include inner(1100);
  }
  &--ttl {
  }
  &_desc {
    margin-top: 20px;
    &--txt {
    }
  }
  &--img {
    margin: 20px auto 0;
    max-width: 600px;
    &_wrap {
    }
  }
}

.Contact {
  &_wrap {
    padding: 60px 0 40px;
  }
  &_inner {
    @include inner(1100);
  }
  &--ttl {
  }
  &--img {
    margin: 20px calc(50% - 50vw) 0;
    &_wrap {
    }
  }
  &_desc {
    margin-top: 20px;
    &--txt {
    }
  }
}
