/* reset.css */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body,
div,
span,
article,
aside,
main,
nav,
header,
footer,
iframe,
img,
h1,
h2,
h3,
h4,
h5,
h6,
time,
form,
p,
a,
dl,
dt,
dd,
ol,
ul,
li,
label,
table,
tbody,
tr,
th,
td,
figure,
address {
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

article,
aside,
figure,
footer,
header,
nav,
section,
main {
  display: block;
}

body {
  letter-spacing: 0;
  line-height: 1;
}

a {
  color: inherit;
  font-weight: inherit;
  text-decoration: none;
}

ol,
ul,
li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

//フォーム
input,
button,
select,
textarea {
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
}

textarea {
  min-height: 10em;
  min-width: 100%;
  max-width: 100%;
  resize: vertical;
}

input[type='checkbox'],
input[type='radio'] {
  display: none;
}

input[type='submit'],
input[type='button'],
label,
button,
select {
  cursor: pointer;
  padding: 0;
}

input[type='text'],
input[type='email'],
input[type='tel'],
textarea {
  //safariのplaceholderずれ
  &::-webkit-input-placeholder {
    padding-top: 0.25em;
  }
}

select::-ms-expand {
  display: none;
}
