//<link>でwebフォント読み込む

//$ff-フォント名
//今の時代、フォントの英語名と日本語名の両方を指定する必要ありません。英語名だけでOKです。
$ff-gothic: '游ゴシック体', 'Yu Gothic', 'YuGothic', 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ',
  'Meiryo', 'MS Pゴシック', 'MS PGothic', sans-serif;
$ff-mincho: '游明朝体', 'Yu Mincho', 'YuMincho', 'ヒラギノ明朝 Pro', 'Hiragino Mincho Pro', 'MS P明朝', 'MS PMincho',
  serif;
