//- 基本情報
- var TITLE = "テスト株式会社";
- var DESCRIPTION = "共通ディスクリプション"
//- 公開ディレクトリ
- const URL = "http://localhost:3000/";

//- パス
- const CSS_PATH = ROOT_PATH + 'assets/css/';
- const JS_PATH = ROOT_PATH + 'assets/js/';
- const IMG_PATH = ROOT_PATH + 'assets/img/';
- const META_PATH = ROOT_PATH + 'assets/meta/';
-
		const menu = {
				about: ROOT_PATH + 'about/',
				PRODUCT: ROOT_PATH + 'product/',
				NEWS : ROOT_PATH + 'news/',
				CONTACT: ROOT_PATH + 'contact/' 
		}

//- ページ
//- 値が空でもキーは残しておく
-
		const pages = {
			home:{
				url:URL,
				name:`${TITLE}`,
				title:`${TITLE}`,
				description:"吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。"
			},
			company:{
				url:`${URL}company/`,
				name:"会社概要",
				title:`会社概要｜${TITLE}`,
				description:""
			},
		}
