extends ./_layout/_home

block prepend vars
  - const ROOT_PATH = './';

block append vars
  - const key = "home";
  - const page = pages[key];

//- ページのコンテンツ
block content
  #mv.Mv
    .Mv_inner
      .Mv--catch
        h1.Mv--catch_main
          | !{page.url}
        p.Mv--catch_sub
          | this is my template
  section#about.About.js-obserbed
    .About_wrap
      .About_inner
        h2.About--ttl これは、【見出し】です。これは「見出し」です！？
        .About_row
          .About_content
            p.About_desc
              span.Address_desc--txt
                | 吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。
                a(href='https://example.com/') リンク
                | 吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。
          .About--img
            p.About--img_wrap
              img(src=`${IMG_PATH}/home/dummy.jpg`, alt='')
  section#address.Address.js-obserbed
    .Address_wrap
      .Address_inner
        h2.Address--ttl これは、【見出し】です。これは「見出し」です！？
        .Address--img
          p.About--img_wrap.effect.-layerin_left.-layerin_black
            img.lazy-img(data-src=`${IMG_PATH}home/dummy.jpg` data-lazyloaded)
        p.Address_desc
          span.Address_desc--txt
            | 吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。
            a(href='https://example.com/') リンク
            | 吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。
  section#contact.Contact.js-obserbed
    .Contact_wrap
      .Contact_inner
        h2.Contact--ttl これは、【見出し】です。これは「見出し」です！？
        .Contact--img
          p.Contact--img_wrap
            img(src=`${IMG_PATH}/home/dummy.jpg`)
        p.Contact_desc
          span.Contact_desc--txt
            | 吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。
            a(href='https://example.com/', target='_blank') リンク
            | 吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。

