/******************
  loading
******************/
.c-loading {
    align-items: center;
    background: #fff;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: z-index(loading);
    &_inner {
    }
    &_img {
        height: auto;
        width: 30%;
    }
    &_txt {
    }
    &.is-fadeout {
        opacity: 0;
        transition: opacity 1s ease-out;
    }
}
