.c-modal {
  display: none;
  position: relative;
  &::before {
    position: absolute;
    content: '';
    display: block;
    background-color: rgba(#000, 0.8);
    width: 100%;
    height: 100%;
  }
  &.is-open {
    display: block;
  }
  &_inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &_content {
    width: 800px;
  }
}
