// ヘッダー高さ
$header-height: 80px;
$header-height-sp: 60px;

.l-header {
    display: flex;
    height: $header-height-sp;
    width: 100%;
    z-index: z-index(header);
    @include mq('lg') {
        height: $header-height;
    }
    &.is-fixed {
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
    }
}
.l-header_inner {
    align-items: center;
    display: flex;
    // @include inner(1100);
    position: relative;
    width: 100%;
    @include mq('lg') {
        justify-content: space-between;
    }
}

.l-headerBar {
    &_inner {
    }
}

.l-header_logo {
    align-items: center;
    display: flex;
    height: 30px;
    width: 40vw;

    @include mq('lg') {
        width: 200px;
    }
}

.l-header_hamburger {
    appearance: none;
    border: none;
    box-shadow: 0 0 2rem transparent;
    cursor: pointer;
    display: inline-block;
    height: $header-height-sp - 1px;

    /*outline対策*/
    outline: none;
    position: absolute;
    right: 0;
    top: 0;
    width: $header-height-sp - 1px;
    z-index: z-index(hamburger);
    &:hover,
    &:focus {
        box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.5);
    }
    /*outline対策end*/

    @include mq('lg') {
        display: none;
    }

    .l-header_hamburgerLine {
        bottom: 0;
        left: 0;
        margin: auto;
        right: 0;
        top: 0;
        &,
        &::before,
        &::after {
            background-color: #000;
            border-radius: 2px;
            height: 2px;
            position: absolute;
            transition: all 0.3s ease-in-out;
            width: 18px;
        }
        &::before,
        &::after {
            content: '';
            display: block;
        }
        &:before {
            top: -8px;
        }
        &:after {
            top: 8px;
        }
    }

    &[aria-expanded='true'] {
        .l-header_hamburgerLine {
            background-color: transparent;
            &::before,
            &::after {
                // background-color: #000;
                top: 0;
            }
            &::before {
                transform: rotate(45deg);
            }
            &::after {
                transform: rotate(-45deg);
            }
        }
    }

    .l-header_hamburgerHidden {
        border: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }
} //hamburger

.l-headerNav {
    background-color: transparent;
    flex: 1;
    height: auto;
    left: 0;
    position: fixed;
    position: static;
    text-align: center;
    top: 0;
    transform: translateY(0);
    width: auto;
    @include mq('md') {
        display: none;
        opacity: 0;
        pointer-events: none;
        z-index: -1;
    }

    &:before {
        background-color: rgba(#000, 0.7);
        content: '';
        display: block;
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        transition: opacity 0.5s;
        width: 100%;
        z-index: -1;
    }
}
.l-headerNav_inner {
    height: 100%;
}

.l-headerNav_list {
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    width: auto;
}
.l-headerNav_item {
    color: #000;
    text-align: center;
}
.l-headerNav_link {
    display: block;
    padding: 20px 25px;
    // @include hover_txt;
    @include mq('xl') {
        padding: 20px 25px;
    }

    &.-active {
        color: red;
    }
}

.l-headerNavSp {
    @include mq('lg') {
        display: none;
    }
    background-color: rgba(#000, 0.7);
    height: 100vh;
    left: 0;
    opacity: 0;
    overflow: auto;
    pointer-events: none;
    position: fixed;
    top: 0;
    transition: opacity 0.5s;
    width: 100%;
    z-index: -1;

    &:before {
        background-color: rgba(#000, 0.7);
        content: '';
        display: block;
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        transition: opacity 0.5s;
        width: 100%;
    }

    &.is-open {
        @include mq('md') {
            opacity: 1;
            pointer-events: visible;
            z-index: z-index(navGlobal);
            .l-headerNavSp_list {
                transform: translateY(0%);
            }
        }
    }
}
.l-headerNavSp_inner {
    height: 100%;
}
.l-headerNavSp_list {
    background-color: #fff;
    text-align: center;
    top: 0; //ヘッダーspの高さ
    // transform: translateY(-100%); //上から
    transform: translateX(-100%); //左から
    transition: transform 0.6s;
    width: 80vw;
}
.l-headerNavSp_item {
    text-align: center;
}
.l-headerNavSp_link {
    color: #000;
    display: block;
    padding: 20px 25px;
    // @include hover_txt;
    &.-active {
        color: red;
    }
}
