/******************
ボタン
<a class="Blockname--btn">
  <span class="Blockname--btn_txt"></span>
</a>
******************/

@mixin btn() {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease-out;
  max-width: 100%;
  //デフォルトcolor
  color: #333;
  background-color: #fff;
  border: 1px solid transparent;
  //デフォルトsize
  width: 300px;

  &:focus,
  &:hover {
    opacity: 0.6;
  }
  .btn_txt {
    display: inline-block;
    font-family: $ff-mincho;
    position: relative;
  }
  //modifier
  //color 有意な名前に
  &.-color_primary {
  }
  //sizeのmodifierはないほうがいい？FLOCSSのprojectごとに指定
  &.-size_large {
  }
  //icon
  &.-icon_tab {
    &:after {
      content: '';
      display: inline-block;
    }
  }
}
