.p-mv {
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: #3cc;
  @include mq('sm') {
    margin-top: $header-height-sp;
    height: calc(100vh - #{$header-height-sp});
    height: calc(var(--outer-height) - #{$header-height-sp});
  }
  &_inner {
  }
  &_catch {
    padding: 30vh 0;
    text-align: center;
    &Main {
      font-size: 50px;
      @include lineheight_crop(1.75);
    }
    &Sub {
      font-size: 30px;
      @include lineheight_crop(1.75);
    }
  }
}
