* {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}
html {
  overflow: auto;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  position: relative;
  width: 100%;
  color: $color_text_default;
  font-family: $ff-gothic;
}
img {
  border-style: none;
  height: auto;
  width: 100%;
  vertical-align: bottom;
  [data-objectfit='cover'] {
    object-fit: cover;
  }
}
iframe,
video {
  width: 100%;
}
div,
span {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}
table {
  text-align: left;
}
//タブ操作時以外はoutline非表示
a,
button {
  &:hover,
  &:active {
    outline-width: 0;
  }
}
//PCではtelリンク無効
@include mq('lg') {
  a[href*='tel:'] {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
  }
}

/*
* ヘルパークラス
* 接頭辞u- utility
* すべてハイフンでつなぐ
*/


.u-show {
  &-xs {
    display: none;
    @include mq('xs') {
      display: block;
    }
  }
  &-sm {
    display: none;
    @include mq('sm') {
      display: block;
    }
  }
  &-md {
    display: none;
    @include mq('md') {
      display: block;
    }
  }
  &-lg {
    display: none;
    @include mq('lg') {
      display: block;
    }
  }
  &-xl {
    display: none;
    @include mq('xl') {
      display: block;
    }
  }
}

.u-hide {
  &-xs {
    display: block;
    @include mq('xs') {
      display: none !important;
    }
  }
  &-sm {
    display: block;
    @include mq('sm') {
      display: none !important;
    }
  }
  &-md {
    display: block;
    @include mq('md') {
      display: none !important;
    }
  }
  &-lg {
    display: block;
    @include mq('lg') {
      display: none !important;
    }
  }
  &-xl {
    display: block;
    @include mq('xl') {
      display: none !important;
    }
  }
}

br {
  &.u-show {
    &-xs {
      display: none;
      @include mq('xs') {
        display: inline;
      }
    }
    &-sm {
      display: none;
      @include mq('sm') {
        display: inline;
      }
    }
    &-md {
      display: none;
      @include mq('md') {
        display: inline;
      }
    }
    &-lg {
      display: none;
      @include mq('lg') {
        display: inline;
      }
    }
    &-xl {
      display: none;
      @include mq('xl') {
        display: inline;
      }
    }
  }

  .u-hide {
    &-xs {
      display: inline;
      @include mq('xs') {
        display: none !important;
      }
    }
    &-sm {
      display: inline;
      @include mq('sm') {
        display: none !important;
      }
    }
    &-md {
      display: inline;
      @include mq('md') {
        display: none !important;
      }
    }
    &-lg {
      display: inline;
      @include mq('lg') {
        display: none !important;
      }
    }
    &-xl {
      display: inline;
      @include mq('xl') {
        display: none !important;
      }
    }
  }
}

//グローバルなヘルパークラス
.u-bold {
  font-weight: bold !important;
}
.u-text-center {
  text-align: center !important;
}
.u-text-right {
  text-align: right !important;
}
.u-text-left {
  text-align: left !important;
}
.u-text-uppercase {
  text-transform: uppercase;
}
